<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://loremflickr.com/1000/700/restaurant,<%= @restaurant.category %>);">
    <div class="container">
      <h1><%= @restaurant.name %></h1>
    </div>
  </div>
  <div class="restaurant-page d-flex justify-content-between">
      <h4><%= @restaurant.address %></h4>
      <h4><%= @restaurant.phone_number %></h4>
      <h4 class=""><%= @restaurant.category %></h4>
  </div>
  <hr>
  <h2>REVIEWS</h2>
  <%= link_to new_restaurant_review_path(@restaurant), class: "text-decoration-none review-links" do %>
        <div class="d-flex gap-2 my-1">
          <h5>Add Review</h5>
          <i class="fa-solid fa-plus m-1"></i>
        </div>
      <% end %>
  <div class="reviews-container">
    <ul class="list-unstyled w-50">
      <% @restaurant.reviews.each do |review| %>
        <li class="card p-2">
          <div class="d-flex justify-content-between m-1">
            <div class="card-subtitle text-muted">
              <p class="card-text"><%= review.content %></p>
              <p class="card-title">
                <% review.rating.times do %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
              </p>
            </div>
            <i class="fa-solid fa-trash m-1 text-muted"></i>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
